################################################################################################################
# Toolhead MCU
# Big Tree Tech EBB36 v1.2
################################################################################################################

[mcu toolhead]
canbus_uuid: 1239fbf65cf5

[board_pins EBB36_G0B1_v1.2] 
mcu: toolhead
aliases:
# Stepper
    MOTOR_E_EN=PD2, MOTOR_E_STEP=PD0, MOTOR_E_DIR=PD1, MOTOR_E_UART=PA15,
# Endstops
    LIMIT_Z=PB5, LIMIT_X=PB6,
# Fans
    FAN_HOTEND=PA0, FAN_PCF=PA1,
# Thermistor
    TH_HE=PA3,
# PT1000
    TH_HS_CS=PA4,
# Heater
    HE_EXT=PB13,
# RGB
    RGBLED=PD3,
# Accelerometer
    ADXL_CS=PB12, ADXL_SCLK=PB10, ADXL_MISO=PB2, ADXL_MOSI=PB11