################################################################################################################
# Hotend Heatsink temperature
# MAX31865 - PT1000
################################################################################################################

[temperature_sensor Heatsink]
sensor_type: MAX31865
sensor_pin: toolhead:TH_HS_CS
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
min_temp: -273
max_temp: 10000