################################################################################################################
# Caselight
# Daylight on a Matchstick - 24V
################################################################################################################

[output_pin caselight]
pin: CASELIGHT
pwm: true
shutdown_value: 1
value: 0
cycle_time: 0.01