################################################################################################################
# Z Stepper - Front Left
# LDO-42STH40-1684AC(VRN) 1.8° NEMA17
################################################################################################################

[stepper_z]
step_pin: MOTOR_Z_STEP
dir_pin: MOTOR_Z_DIR
enable_pin: !MOTOR_Z_EN
rotation_distance: 32           # Distance in mm
gear_ratio: 64:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 165
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: MOTOR_Z_UART
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999


################################################################################################################
# Z1 Stepper - Rear Left
# LDO-42STH40-1684AC(VRN) 1.8° NEMA17
################################################################################################################

[stepper_z1]
step_pin: MOTOR_Z1_STEP
dir_pin: !MOTOR_Z1_DIR
enable_pin: !MOTOR_Z1_EN
rotation_distance: 32           # Distance in mm
gear_ratio: 64:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: MOTOR_Z1_UART
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999


################################################################################################################
# Z2 Stepper - Rear Right
# LDO-42STH40-1684AC(VRN) 1.8° NEMA17
################################################################################################################

[stepper_z2]
step_pin: MOTOR_Z2_STEP
dir_pin: MOTOR_Z2_DIR
enable_pin: !MOTOR_Z2_EN
rotation_distance: 32           # Distance in mm
gear_ratio: 64:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: MOTOR_Z2_UART
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999

################################################################################################################
# Z3 Stepper - Front Right
# LDO-42STH40-1684AC(VRN) 1.8° NEMA17
################################################################################################################

[stepper_z3]
step_pin: MOTOR_Z3_STEP
dir_pin: !MOTOR_Z3_DIR
enable_pin: !MOTOR_Z3_EN
rotation_distance: 32           # Distance in mm
gear_ratio: 64:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: MOTOR_Z3_UART
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999