################################################################################################################
# Chamber Temperature
# Generic 3950
################################################################################################################

[temperature_sensor Heatsink]
sensor_type: Generic 3950 
sensor_pin: TH_CHAMBER
