################################################################################################################
# Part Cooling Fan
# 2x Gdstime - GDB4010 - 24V - 0,08A
################################################################################################################

[fan]
pin: toolhead:FAN_PCF
kick_start_time: 0.5
off_below: 0.10


################################################################################################################
# Hotend Fan
# LDO 3010 - 24V
################################################################################################################

[heater_fan hotend_fan]
pin: toolhead:FAN_HOTEND
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

################################################################################################################
# Controller Fan
# ???
################################################################################################################

[controller_fan controller_fan]
pin: FAN_CONTROLLER
kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.4


################################################################################################################
# Filter Fan
################################################################################################################

[heater_fan filter]
pin: FAN_FILTER
heater: heater_bed
heater_temp: 40
kick_start_time: 0.250
max_power: 1.0
fan_speed: 0.5
off_below: 0.3