################################################################################################################
# Heated Bed
# Keenovo 150x150 - 300W - 230VAC
################################################################################################################

[heater_bed]
heater_pin: HE_BED
sensor_type: Generic 3950 
sensor_pin: TH_BED
max_power: 0.4               # 0.4 watts / cm^2 -> 120W
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769