################################################################################################################
# X (B) Stepper - Left
# LDO-35STH52-1504AH(VRN) 1.8° NEMA14
################################################################################################################

[stepper_x]
step_pin: MOTOR_X_STEP
dir_pin: MOTOR_X_DIR
enable_pin: !MOTOR_X_EN
rotation_distance: 32           # Distance in mm
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: toolhead:LIMIT_X
position_min: 0
position_endstop: 180
position_max: 180
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: MOTOR_X_UART
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


################################################################################################################
# Y (A) Stepper - Right
# LDO-35STH52-1504AH(VRN) 1.8° NEMA14
################################################################################################################

[stepper_y]
step_pin: MOTOR_Y_STEP
dir_pin: MOTOR_Y_DIR
enable_pin: !MOTOR_Y_EN
rotation_distance: 32           # Distance in mm
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: LIMIT_Y
position_min: 0
position_endstop: 190
position_max: 190
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: MOTOR_Y_UART
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0