################################################################################################################
# Main MCU
# Big Tree Tech Octopus
################################################################################################################

[mcu]
canbus_uuid: 87c2954000e1

[board_pins mcu_octopus]
aliases:
# Stepper
    MOTOR_X_EN=PF14, MOTOR_X_STEP=PF13,  MOTOR_X_DIR=PF12,  MOTOR_X_UART=PC4,
    MOTOR_Y_EN=PF15, MOTOR_Y_STEP=PG0,   MOTOR_Y_DIR=PG1,   MOTOR_Y_UART=PD11,
    MOTOR_Z_EN=PG5,  MOTOR_Z_STEP=PF11,  MOTOR_Z_DIR=PG3,   MOTOR_Z_UART=PC6,
    MOTOR_Z1_EN=PA0, MOTOR_Z1_STEP=PG4,  MOTOR_Z1_DIR=PC1,  MOTOR_Z1_UART=PC7,
    MOTOR_Z2_EN=PG2, MOTOR_Z2_STEP=PF9,  MOTOR_Z2_DIR=PF10, MOTOR_Z2_UART=PF2,
    MOTOR_Z3_EN=PF1, MOTOR_Z3_STEP=PC13, MOTOR_Z3_DIR=PF0,  MOTOR_Z3_UART=PE4,
# Endstops
    LIMIT_Y=PG6,
# Fans
    FAN_CONTROLLER_A=PA8, FAN_CONTROLLER_B=PE5, FAN_FILTER=PD12,
# Heater
    HE_BED=PA1,
# Thermistor
    TH_BED=PF3, TH_CHAMBER=PF4,
# Lights
    CASELIGHT=PD15
