################################################################################################################
# Scanner MCU
# Cartographer Probe v3 with adxl345
################################################################################################################

[mcu scanner]
canbus_uuid: 1239fbf65cf5