################################################################################################################
# Scanner MCU
# Cartographer Probe v3 with adxl345
################################################################################################################

[mcu scanner]
canbus_uuid: 9b12a085385a