################################################################################################################
# Bed Mesh
################################################################################################################

[bed_mesh]
speed: 400
horizontal_move_z: 5
mesh_min: 10, 25
mesh_max: 175, 175
probe_count: 7,7
mesh_pps: 2,2
algorithm: bicubic
relative_reference_index: 40