################################################################################################################
# Bed Mesh
################################################################################################################

[bed_mesh]
speed: 100
horizontal_move_z: 10
mesh_min: 10, 25
mesh_max: 170, 170
probe_count: 9,9
mesh_pps: 2,2
algorithm: bicubic
relative_reference_index: 40