[gcode_macro PRINT_START]
gcode:
    # slicer parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}
   
    M104 S150                                ; set hotend temp
    M190 S{bedtemp}                          ; set & wait for bed temp
    G32                                      ; home all axes, qgl, home all axes
    ADAPTIVE_BED_MESH                        ; run adaptive bed mesh
    M109 S{hotendtemp}                       ; set & wait for hotend temp 
    status_printing                          ; set LED status