################################################################################################################
# Printer Config - Micron 180
################################################################################################################

# Main Config Files
[include mainsail.cfg]
[include config/machine.cfg]

# MCUs
[include config/mcus/btt_octopus.cfg]
[include config/mcus/btt_ebb36_v1.2.cfg]

# Hardware
[include config/hardware/xy.cfg]
[include config/hardware/z.cfg]
[include config/hardware/extruder.cfg]
[include config/hardware/heated_bed.cfg]
[include config/hardware/probe.cfg]
[include config/hardware/accelerometer.cfg]
[include config/hardware/fans.cfg]
[include config/hardware/rpi_temp.cfg]
[include config/hardware/ebb36_temp.cfg]
[include config/hardware/hotend_heatsink_temp.cfg]
[include config/hardware/chamber_temp.cfg]
[include config/hardware/lights.cfg]
[include config/hardware/dragonburner_leds.cfg]

# Software
[include config/software/shell_command.cfg]
[include config/software/safe_z_home.cfg]
[include config/software/qgl.cfg]
[include config/software/bed_mesh.cfg]
#[include config/software/input_shaper.cfg]

# Macros
#[include macros/print_start.cfg]
#[include macros/print_end.cfg]
#[include macros/prep_abs.cfg]
#[include macros/prime_line.cfg]
#[include macros/load_filament.cfg]
#[include macros/unload_filament.cfg]
#[include macros/g32.cfg]
#[include macros/adaptive_bed_mesh.cfg]
#[include macros/test_speed.cfg]
#[include macros/nozzle_scrub.cfg]



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.902
#*# pid_ki = 1.337
#*# pid_kd = 297.768
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.329
#*# pid_ki = 2.293
#*# pid_kd = 49.591
#*#
#*# [probe]
#*# z_offset = -0.555
