################################################################################################################
# Input Shaper
################################################################################################################

[input_shaper]
shaper_freq_x: 73.0
shaper_type_x: mzv
shaper_freq_y: 53.0
shaper_type_y: mzv
