################################################################################################################
# Printer Config - Micron 180
################################################################################################################

# Main Config Files
[include mainsail.cfg]
[include config/machine.cfg]
[include config/kinematics/corexy.cfg]

# MCUs
[include config/mcus/btt_octopus.cfg]
[include config/mcus/btt_ebb36_v1.2.cfg]
[include config/mcus/cartographer_v3.cfg]

# Hardware
[include config/hardware/accelerometer.cfg]
[include config/hardware/chamber_temp.cfg]
[include config/hardware/dragonburner_leds.cfg]
[include config/hardware/ebb36_temp.cfg]
[include config/hardware/extruder.cfg]
[include config/hardware/fans.cfg]
[include config/hardware/heated_bed.cfg]
[include config/hardware/lights.cfg]
[include config/hardware/rpi_temp.cfg]
[include config/hardware/scanner.cfg]
[include config/hardware/scanner_temp.cfg]
[include config/hardware/xy.cfg]
[include config/hardware/z.cfg]

# Software
[include config/software/bed_mesh.cfg]
[include config/software/input_shaper.cfg]
[include config/software/qgl.cfg]
[include config/software/safe_z_home.cfg]

# Macros
[include config/macros/adaptive_bed_mesh.cfg]
[include config/macros/calibrate_flow.cfg]
[include config/macros/calibrate_pa.cfg]