################################################################################################################
# Printer Config - Micron 180
################################################################################################################

# Main Config Files
[include mainsail.cfg]
[include config/machine.cfg]
[include config/kinematics/corexy.cfg]

# MCUs
[include config/mcus/btt_octopus.cfg]
[include config/mcus/btt_ebb36_v1.2.cfg]
[include config/mcus/cartographer_v3.cfg]

# Hardware
[include config/hardware/accelerometer.cfg]
[include config/hardware/chamber_temp.cfg]
[include config/hardware/dragonburner_leds.cfg]
[include config/hardware/ebb36_temp.cfg]
[include config/hardware/extruder.cfg]
[include config/hardware/fans.cfg]
[include config/hardware/heated_bed.cfg]
[include config/hardware/lights.cfg]
[include config/hardware/rpi_temp.cfg]
[include config/hardware/scanner.cfg]
[include config/hardware/scanner_temp.cfg]
[include config/hardware/xy.cfg]
[include config/hardware/z.cfg]

# Software
[include config/software/bed_mesh.cfg]
[include config/software/input_shaper.cfg]
[include config/software/qgl.cfg]
[include config/software/safe_z_home.cfg]
[shaketune]

# Macros
[include config/macros/adaptive_bed_mesh.cfg]
[include config/macros/calibrate_flow.cfg]
[include config/macros/calibrate_pa.cfg]
[include config/macros/print_start.cfg]
[include config/macros/print_end.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1705
#*# scanner_touch_speed = 2
#*#
#*# [scanner model default]
#*# model_coef = 1.463890536230288,
#*# 	  1.7986086580892542,
#*# 	  0.7687593081490524,
#*# 	  0.2694212694687023,
#*# 	  0.37081538795820396,
#*# 	  0.7347380500654515,
#*# 	  -0.17304629998856408,
#*# 	  -0.7662264429890281,
#*# 	  0.2197262810042474,
#*# 	  0.4145749464058065
#*# model_domain = 3.2447097424748554e-07,3.3884336992610466e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 38.020023
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
