################################################################################################################
# Bed Mesh
################################################################################################################

[bed_mesh]
zero_reference_position: 90, 90
speed: 200
horizontal_move_z: 5
mesh_min: 10, 25
mesh_max: 165, 165
probe_count: 30, 30
mesh_pps: 2, 2
algorithm: bicubic