################################################################################################################
# Quad Gantry Leveling
################################################################################################################

[quad_gantry_level]
gantry_corners:
   -57.53,-9.51
   177.53,184.15
points:
   10,13
   10,120
   170,120
   170,13
speed: 400
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 10