################################################################################################################
# Machine
################################################################################################################

[idle_timeout]
timeout: 1800

[respond]

[exclude_object]

[gcode_arcs]
resolution: 0.1