################################################################################################################
# ADXL1345
# Cartographer Probe v3 with adxl345
################################################################################################################
   
[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    90, 90, 20