################################################################################################################
# Chamber Temperature
# ATC Semitec 104NT-4-R025H42G
################################################################################################################

[temperature_sensor Chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: TH_CHAMBER
