################################################################################################################
# Extruder

# Motor
# LDO Orbiter v2.0 - 1.8° 36mm Pancake Stepper - LDO-36STH20-1004AHG(XH)

# Hotend
# E3D Revo Voron
# Thermistor ATC Semitec 104NT-4-R025H42G

# Nozzle
# E3D Revo 0.4 HF
################################################################################################################

[extruder]
step_pin: toolhead:MOTOR_E_STEP
dir_pin: toolhead:MOTOR_E_DIR
enable_pin: !toolhead:MOTOR_E_EN
rotation_distance: 4.637
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: toolhead:HE_EXT
min_extrude_temp: 170
max_extrude_only_distance: 500
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: toolhead:TH_HE
min_temp: 0
max_temp: 290
control: pid
pid_kp: 37.482
pid_ki: 5.316
pid_kd: 66.062
pressure_advance: 0.025
pressure_advance_smooth_time: 0.02

[tmc2209 extruder]
uart_pin: toolhead:MOTOR_E_UART
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0