################################################################################################################
# Caselight
# Daylight on a Matchstick - 24V
################################################################################################################

[output_pin caselight]
pin: CASELIGHT
shutdown_value: 1
value: 1