################################################################################################################
# Scanner Temperature
# Cartographer Probe v3 with adxl345
################################################################################################################

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105